.title {
  color: rgb(19, 229, 0);
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 36px;

  /* border-width:6px;
   border-color: rgb(255, 0, 0);
   border-style:groove; */

  border: 6px green solid;
}

.text {
  background-color: yellow;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  /* text-decoration: overline  underline line-through; */
  text-indent: 20px;
  text-transform: uppercase;
}

.extra_text {
  text-align: justify;
  background-color: teal;
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 25px;
  line-height: 36px;
}
