* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
}

.container input[type="checkbox"] {
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
}

.container .checkmark::after {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  background-image: url("https://picsum.photos/200/200");
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 22;
}

.container input:checked ~ .checkmark::after {
  content: "";
  width: 200px;
  height: 200px;
  display: none;
  background-image: url("https://picsum.photos/100/100");
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 22;
}

li {
  list-style-type: none;
  display: flex;
  position: relative;
}

li a {
  text-decoration: none;
}

li:nth-child(1) a {
  color: red;
}

li:nth-child(1) a::before {
  content: "";
  color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: aqua;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: block;
  position: absolute;
  left:-12px;
  top:5px;

}
